root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = tab
insert_final_newline = true
max_line_length = 120
tab_width = 2
ij_continuation_indent_size = 4
ij_formatter_off_tag = @formatter:off
ij_formatter_on_tag = @formatter:on
ij_formatter_tags_enabled = true
ij_smart_tabs = true
ij_visual_guides = 80, 100
ij_wrap_on_typing = true

[*.go]
ij_go_add_leading_space_to_comments = true

ij_go_GROUP_CURRENT_PROJECT_IMPORTS = true
ij_go_local_group_mode = project
ij_go_group_stdlib_imports = true
ij_go_use_back_quotes_for_imports = false
ij_go_import_sorting = goimports
ij_go_move_all_stdlib_imports_in_one_group = true
ij_go_remove_redundant_import_aliases = true
ij_go_move_all_imports_in_one_declaration = true

ij_go_run_go_fmt_on_reformat = true
ij_go_call_parameters_wrap = normal
ij_go_wrap_func_params = normal
ij_go_wrap_func_result = normal

[.idea/**.xml]
insert_final_newline = false

[{*.sh,Makefile}]
ij_wrap_on_typing = false